* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: black;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='112' height='92' viewBox='0 0 112 92'%3E%3Cg fill='%237000ff' fill-opacity='.6'%3E%3Cpath fill-rule='evenodd' d='M72 10H40L16 20H0v8h16l24-14h32l24 14h16v-8H96L72 10zm0-8H40L16 4H0v8h16l24-6h32l24 6h16V4H96L72 2zm0 84H40l-24-6H0v8h16l24 2h32l24-2h16v-8H96l-24 6zm0-8H40L16 64H0v8h16l24 10h32l24-10h16v-8H96L72 78zm0-12H40L16 56H0v4h16l24 14h32l24-14h16v-4H96L72 66zm0-16H40l-24-2H0v4h16l24 6h32l24-6h16v-4H96l-24 2zm0-16H40l-24 6H0v4h16l24-2h32l24 2h16v-4H96l-24-6zm0-16H40L16 32H0v4h16l24-10h32l24 10h16v-4H96L72 18z'/%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(.2rem);

}
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    
}

.dashboard {
    display: flex;
    position: sticky;
    top: 0rem;
    flex: 1;
    min-height: 100vh;
    flex-direction: column;
    border-radius: 0 2rem 2rem 0;
    background: linear-gradient(
        to right bottom, 
        rgba(0,0,0,.9),
        rgba(0, 0, 0, 0.2)
    );
    
}
    .title-container {
        padding: 1rem;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;
        color: #caa9ff;
        flex: 3;
    }
    .dashboard h1 {
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #caa9ff;
        font-family: 'Rubik Glitch', cursive;
        font-size: 3rem;
    }

    .home-container,
    .search-container,
    .profile-container,
    .likes-container,
    .create-post-container,
    .comments-container,
    .logout-container {
        padding: 1rem;
        align-items: center;
        justify-content: start;
        flex-direction: row;
        display: flex;
        color: #caa9ff;
        
    }
        .home-container img,
        .search-container img,
        .profile-container img,
        .likes-container img,
        .create-post-container img,
        .comments-container img,
        .logout-container img {
            padding: 0 1rem;
        }
        .home-container h3,
        .search-container h3,
        .profile-container h3,
        .likes-container h3,
        .create-post-container h3,
        .comments-container h3,
        .logout-container h3 {
            padding: 0 1rem;
        }
    
    .home-container {
        flex: 1;
    }
    .search-container {
        flex: 1;
    }
    .profile-container {
        flex: 1;
    }
    .likes-container {
        flex: 1;
    }
    .comments-container {
        flex: 1;
    }
    .create-post-container {
        flex: 1;
    }
    .logout-container {
        flex: 3;
    }

.post-container {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
    .cards-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        color: white;
        width: 50%;
        min-height: 100vh;
        padding: 1rem 0;
        
        
    }
    .card-container{
        padding: 1rem 0;
    }
        .card {
            display: flex;
            flex-direction: column;
            background: linear-gradient( 
                rgba(0,0,0,.9),
                rgba(0, 0, 0, 0.7)
            );
            width: 100%;
            align-items: center;
        }
            .user-container {
                display: flex;
                flex-direction: row;
                padding: 1rem 0 1rem 0;
                width: 100%;
                height: 100%;
                
            }
                .user-img-container {
                    flex: 1;
                    padding: 0 1rem 0 1rem;
                }
                    .user-img-container img {
                        width: 100%;
                        height: 100%;
                        
                    }
                .user-container h3 {
                    flex: 4;
                    text-align: start;
                    align-items: center;
                    padding: 0 1rem 0 1rem;
                }   
            .img-container {
                display: flex;
                width: 100%;
                height: 100%;
            }
            .img-container img {
                width: 100%;
                height: 100%;
            }
            .interact-container {
                padding: 1rem;
                display: flex;
                align-items: center;
                flex-direction: row;
                width: 100%;
            }
                .interact-container img{
                    padding: 0 1rem;
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    
                }

            .caption-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: start;
                width: 100%;
            }
                .caption-container h3 {
                    padding: 1rem;
                    text-align: start;
                    justify-content: start;
                }
                .caption-container p {
                    padding: 1rem;
                }